#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navHeight);
  overflow: hidden;

  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);

  padding: calc(var(--padding) / 4) var(--padding);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 99;

  color: var(--navColor);
}

#header .logo {
  height: 100%;
  aspect-ratio: 1/1;
}

#header nav {
  width: 25%;
  font-family: var(--fontSans);
  font-size: clamp(0.8rem, 1vw, 1rem);
}

#header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  #header nav {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  #header nav {
    width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  #header .logo {
    height: 80%;
    aspect-ratio: 1/1;
  }

  #header nav {
    width: 65%;
  }
}
